.container {
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: chartreuse;
  cursor: pointer;
}

button:hover {
  background-color: rgb(122, 238, 5);
}

.back_button {
  padding: 0.5rem;
  background-color: rgb(198, 202, 195);
}

.back_button:hover {
  background-color: rgb(186, 192, 182);
}