body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgb(198, 231, 245);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

h1 {
  font-family: 'Calibri', sans-serif;
  font-size: 33x;
  color:black

}

select{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  color:black
}

#root {
  height:100vh;
  width:100vw; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal_content {
  background-color: #fff;
  text-align: center;
  color: Black;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close_button {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey; 
}

/* button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: rgb(18, 43, 113);
  cursor: pointer;
}

button:hover {
  background-color: rgb(122, 238, 5);
}

.back_button {
  padding: 0.5rem;
  background-color: rgb(198, 202, 195);
}

.back_button:hover {
  background-color: rgb(186, 192, 182);
} */