.container {
    height: 50px;;
    width:100vw;
  
}

.header {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color:rgb(0, 0, 0);

}


table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 80%;
  }

  
  
  td, th {
    border: 2px solid #616060;
    text-align: left;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color:#010101;
  }

.session {
    font-family: 'arial', sans-serif;
    font-size: 16px;
    color:rgb(0, 0, 0);
}
 
.loading{
    width:200px;
    height:auto;
}

.text {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color:rgb(0, 0, 0);

}

.buttons_container{

    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.button {
    padding: 0.5rem;
    background-color: rgb(198, 202, 195);
    padding: 15px 32px;
    font-size: 32px;
    display:inline-block;
}

.greenButton {
    padding: 0.5rem;
    background-color: rgb(114, 255, 6);
    padding: 14px 25px;
    font-size: 32px;
    display:inline-block;

}

.italic {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    text-decoration: underline;
    color:rgb(0, 0, 0);
}


.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    color: rgb(1, 1, 1);
    text-align: center;
    background: rgb(14, 195, 47)
  }